################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/api_caminhoneiro/v15/Server/sqlite3
/.vs/api_caminhoneiro/v15
/.vs/api_caminhoneiro/DesignTimeBuild
/.vs/config
